.bg-home {
  background-image: url('/assets/imgs/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  /*overflow: hidden; !* 对于背景图片也设置为hidden，以防万一 *!*/
}

.clock {
  color: white; /* 白色字体以便在深色背景上看起来更清晰 */
  font-size: 40px; /* 字体大小 */
  position: fixed; /* 固定位置，不随滚动条滚动 */
  bottom: 20px; /* 距离底部20px */
  right: 20px; /* 距离右侧20px */
  background-color: rgba(0, 0, 0, 0.3); /* 背景半透明黑色，增加对比度 */
  padding: 10px; /* 内边距 */
  border-radius: 10px; /* 边角圆润 */
  z-index: 1000; /* 高层次，确保不被其他元素遮挡 */
}
